[Desktop Entry]
Name=MPDCtrlX
Comment=
Icon=MPDCtrlX.png
Exec=MPDCtrlX
StartupWMClass=MPDCtrlX
Terminal=false
Type=Application
Categories=Music
GenericName=MPDCtrlX
Keywords=MPD
